body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  max-width: 640px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
  overflow: auto;
  position: relative;
  padding-bottom: 80px; /* Add extra padding to accommodate buttons */
}

.camera-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#video,
#canvas {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the container */
  height: auto; /* Auto height to maintain aspect ratio */
  z-index: 1;
  pointer-events: none;
}

#video {
  display: block;
  width: 100%;
}

button {
  z-index: 2;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto 0;
  transform: translateX(-50%);
  position: absolute; /* Change to absolute positioning within container */
  bottom: 10px; /* Position at the bottom of the container */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 3; /* Ensure it's above other elements */
}

button:hover {
  background-color: #0056b3;
}

#label {
  margin-top: 10px;
  color: #333;
  background-color: #e9ecef;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-bottom: 120px; /* Increase padding for mobile devices */
  }

  .camera-wrapper {
    max-height: 75%;
  }

  button {
    width: 90%; /* Adjust width for smaller screens */
  }
}

#capture {
  z-index: 3; /* Ensure it's above other elements */
}

#reset {
  z-index: 3; /* Ensure it's above other elements */
}
