html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e; /* Darker background */
  color: #ccc;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 640px;
  width: 100%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  background: #2a2a2a; /* Dark theme for container */
  border-radius: 8px;
  position: relative;
}

.camera-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 10px 0;
}

.camera-options {
  margin: 10px 0;
}

#cameraSelect {
  padding: 5px;
  margin-left: 5px;
  background: #333; /* Dark dropdown */
  color: #fff; /* White text */
  border: 1px solid #444; /* Slight border */
}

#video, #canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

#video {
  z-index: 0;
  display: block;
}

button {
  background-color: #3a3a3a; /* Neutral dark gray for buttons */
  color: #fff; /* White text */
  border: 1px solid #525252; /* Slight border for definition */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Added transform */
  margin: 10px 10px;
  width: 90%;
  max-width: 200px;
}

button:hover {
  background-color: #505050; /* Slightly lighter gray on hover */
  transform: scale(1.05); /* Slight grow effect on hover */
}

#label {
  margin-top: 10px;
  color: #fff; /* White text */
  background-color: #333; /* Dark label background */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#label:hover {
  background-color: #444; /* Darken label on hover */
}

@media only screen and (max-width: 600px) {
  button {
    width: 80%;
  }
}

#capture,
#reset {
  z-index: 3;
}

h1 {
  margin: 5px;
  padding: 0;
}

.button-wrap {
  display: flex;
}

.info-icon-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.info-icon {
  background-color: #3a3a3a;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.popup-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #2a2a2a;
  color: #ccc;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  width: 320px;
  z-index: 10;
  text-align: justify;
}

.heading-wrap {
  display: flex;
  align-items: center;
}
.heading-wrap > * {
  margin: 0px 5px;
}
